<h3>Manufacturer Details</h3>

<div class="row">
    <div class="column medium-12 small-12">
        <label for="contribute-form-manufacturer-name" class="required">Manufacturer Name</label>
        <input type="text" class="contribute-form-manufacturer-name" id="contribute-form-manufacturer-name" value="{{name}}" placeholder="Enter the name of the manufacturer."/>
    </div>
    <div class="column medium-12 small-12">
        <p>Please enter the public contact details for the company.  These will be displayed and visible to search engines.</p>
    </div>
    <div class="column medium-6 small-12">
        <label for="contribute-form-manufacturer-email">Email</label>
        <input type="text" class="contribute-form-manufacturer-email" id="contribute-form-manufacturer-email" value="{{email}}"/>

        <label for="contribute-form-manufacturer-phone">Phone</label>
        <input type="text" class="contribute-form-manufacturer-phone" id="contribute-form-manufacturer-phone" value="{{phone}}"/>

        <label for="contribute-form-manufacturer-url">URL</label>
        <input type="text" class="contribute-form-manufacturer-url" id="contribute-form-manufacturer-url" value="{{url}}"/>
    </div>
    <div class="column medium-6 small-12">
        <label for="contribute-form-manufacturer-address">Address</label>
        <input type="text" class="contribute-form-manufacturer-address" id="contribute-form-manufacturer-address" value="{{address}}"/>

        <div class="row">
            <div class="column medium-7 small-12">
              <label for="contribute-form-manufacturer-citytown">City/Town</label>
              <input type="text" class="contribute-form-manufacturer-citytown" id="contribute-form-manufacturer-citytown" value="{{cityTown}}"/>
            </div>
            <div class="column medium-5 small-12">
              <label for="contribute-form-manufacturer-postalcode">Postal Code</label>
              <input type="text" class="contribute-form-manufacturer-postalcode" id="contribute-form-manufacturer-postalcode" value="{{postalCode}}"/>
            </div>
        </div>

        <label for="contribute-form-manufacturer-provinceregion">Province/Region</label>
        <input type="text" class="contribute-form-manufacturer-provinceregion" id="contribute-form-manufacturer-provinceregion" value="{{provinceRegion}}"/>


        <label for="contribute-form-manufacturer-country">Country</label>
        <input type="text" class="contribute-form-manufacturer-country" id="contribute-form-manufacturer-country" value="{{country}}"/>
    </div>
</div>

<input type="submit" value="Save" class="button contribute-form-submit"/>



