<form action="#" class="record-edit-form">
    <input type="hidden" class="record-edit-source" value="{{source}}"/>
    <input type="hidden" class="record-edit-sid"    value="{{sid}}"/>
    <input type="hidden" class="record-edit-uid"    value="{{uid}}"/>

  <h3>Product Details</h3>
    <!-- TODO: evolve this into a proper dropdown -->
    <select class="record-edit-status">
        <option value="{{status}}">{{status}}</option>
    </select>

    <label for="record-edit-name">Name</label>
    <input type="text" class="record-edit-name" placeholder="Please enter the name of this product." id="record-edit-name" value="{{{name}}}/">


    <label for="record-edit-description">Description</label>
    <textarea class="record-edit-description" rows="10" placeholder="Please enter a description of this product." id="record-edit-description">{{{description}}}</textarea>

  <hr/>

  <h3>Manufacturer Details</h3>

  {{>record-manufacturer-edit manufacturer}}

  <!-- TODO:  Close the "edit" form on success -->
  <a class="button record-toggle">Cancel</a>

  <input type="submit" value="Save" class="button record-edit-submit"/>
</form>

